h1 { 
    color: blue; 
<<<<<<< HEAD
    border: solid 1px blue;
} 

body {  
    font-family: Hevana, sans-serif;
    clear: both;
}

#main {
    padding: 0;
    margin: 2% 10% 2% 10%;
}

#subject {
    color: red;
    font-size: 30px;
    text-decoration: underline;
}

.related {
    color: rebeccapurple;
    font-size: 14px; 
}

p {
    color: chocolate
}

footer {
    margin: 5% 10%;
    color: red;
    font-size: 14px;
=======
} 

body {  
    font-family: Hevana, sans-serif;  
    margin: 5%;
} 

#main { 
    margin: 3% 10% 3% 10%;
} 

#subject {  
    color: red; 
    font-size: 20px;     
    text-decoration: underline;
}   

.related {  
    color: orange;  
    font-size: 14px; 
}

p { 
    color: chocolate;
}

footer {  
    margin-top: 5%; 
    margin-right: 5%; 
    color: red;  
    font-size: 14px;  
    float: right;} 
