h1 { 
    color: blue; 
    border: solid 1px blue;
} 

body {  
    font-family: Hevana, sans-serif;
    clear: both;
}

#main {
    padding: 0;
    margin: 2% 10% 2% 10%;
}

#subject {
    color: red;
    font-size: 30px;
    text-decoration: underline;
}

.related {
    color: rebeccapurple;
    font-size: 14px; 
}

p {
    color: chocolate
}

footer {
    margin: 5% 10%;
    color: red;
    font-size: 14px;
    float: right;} 
