 body {  
    font-family: Hevana, sans-serif;
    clear: both;
}

h1 {
    color: blue;
    border: solid 1px blue;
}

#main {
    padding: 0;
    margin: 2% 10% 2% 10%;
}

.related {
    color: rebeccapurple;
    font-size: 14px; 
}

p {
    color: chocolate
}  

#subject {  
    color: red; 
    font-size: 20px;     
    text-decoration: underline;
}   

footer {
    margin: 5% 10%;
    color: red;
    font-size: 14px;
    float: right;
}
